<?xml version="1.0"?>
<!-- revised by WHI -->
<launch>
  <!-- Arguments -->
  <arg name="screen_out" default="false"/>

  <include file="$(dirname)/rplidar.launch">
    <arg name="screen_out" value="$(arg screen_out)"/>
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rplidar_ros)/rviz/rplidar.rviz" />
</launch>
