<?xml version="1.0"?>
<!-- revised by WHI -->
<launch>
  <!-- Arguments -->
  <arg name="screen_off" default="false"/>

  <include file="$(dirname)/rplidar.launch">
    <arg name="screen_off" value="$(arg screen_off)"/>
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rplidar_ros)/rviz/rplidar.rviz" />
</launch>
